<launch>
	<!-- vim: set ft=xml noet : -->
 	<arg name="log" default="false"/>

	<node name="nautonomous_transforms_node" pkg="nautonomous_navigation_transform" type="nautonomous_transforms_node"  output="screen" >

		<!-- Inputs -->
  		<remap from="imu" to="/imu/razor" />
		<remap from="odom" to="/gps/odom"/>	

		<!-- Parameters -->

		
		<!-- Outputs -->

	</node>
	<!-- 	base_link is typically the center of mass or the center of turning for your robot, 
			while base_footprint is located at ground level directly below base_link. 
			base_footprint is a projection of base_link onto the ground.
			http://answers.ros.org/question/12770/base_link-to-base_footprint-transform/
	-->
	<!-- 	static_transform_publisher x y z yaw pitch roll frame_id child_frame_id period_in_ms
			static_transform_publisher agrs: x y z qx qy qz qw frame_id child_frame_id  period_in_ms
	-->
	<node pkg="tf" type="static_transform_publisher" name="camera_link_broadcaster" args="1.5 0 0.25 0 0 0 1 base_link camera_link 25"/>
	<node pkg="tf" type="static_transform_publisher" name="gps_link_broadcaster" 	args="-1.5 0 0.75 0 0 0 1 base_link gps_link 25"/>
	<node pkg="tf" type="static_transform_publisher" name="imu_link_broadcaster" args="0 -0.5 0.25 0 0 0 1 base_link base_imu_link 25"/> <!--REDO THIS ONE-->
	<node pkg="tf" type="static_transform_publisher" name="footprint_link_broadcaster" args="0 0 0 0 0 0 1 base_link base_footprint 25"/>
	<node pkg="tf" type="static_transform_publisher" name="odom_combined_broadcaster" args="0 0 0 0 0 0 1 map odom_combined 25"/>
</launch>
